[submodule "bundle/vim-bufexplorer"]
  path = bundle/vim-bufexplorer
  url = git://github.com/mexpolk/vim-bufexplorer.git
[submodule "bundle/vim-notes"]
  path = bundle/vim-notes
  url = git://github.com/mexpolk/vim-notes.git
[submodule "bundle/vim-scratch"]
  path = bundle/vim-scratch
  url = git://github.com/mexpolk/vim-scratch.git
[submodule "bundle/vim-taglist"]
  path = bundle/vim-taglist
  url = git://github.com/mexpolk/vim-taglist.git
[submodule "bundle/nerdcommenter"]
  path = bundle/nerdcommenter
  url = git://github.com/scrooloose/nerdcommenter.git
[submodule "bundle/vim-syntastic"]
  path = bundle/vim-syntastic
  url = git://github.com/scrooloose/syntastic.git
[submodule "bundle/rvm"]
  path = bundle/rvm
  url = git://github.com/csexton/rvm.vim.git
[submodule "bundle/vim-ragtag"]
  path = bundle/vim-ragtag
  url = git://github.com/tpope/vim-ragtag.git
[submodule "bundle/vim-markdown"]
  path = bundle/vim-markdown
  url = git://github.com/tpope/vim-markdown.git
[submodule "bundle/vim-git"]
  path = bundle/vim-git
  url = git://github.com/tpope/vim-git.git
[submodule "bundle/vim-haml"]
  path = bundle/vim-haml
  url = git://github.com/tpope/vim-haml.git
[submodule "bundle/vim-endwise"]
  path = bundle/vim-endwise
  url = git://github.com/tpope/vim-endwise.git
[submodule "bundle/vim-pastie"]
  path = bundle/vim-pastie
  url = git://github.com/tpope/vim-pastie.git
[submodule "bundle/vim-unimpaired"]
  path = bundle/vim-unimpaired
  url = git://github.com/tpope/vim-unimpaired.git
[submodule "bundle/textile.vim"]
  path = bundle/textile.vim
  url = http://github.com/timcharper/textile.vim.git
[submodule "bundle/vim-fakeclip"]
  path = bundle/vim-fakeclip
  url = http://github.com/kana/vim-fakeclip.git
[submodule "bundle/snipmate"]
  path = bundle/snipmate
  url = http://github.com/msanders/snipmate.vim.git
[submodule "bundle/vim-fugitive"]
  path = bundle/vim-fugitive
  url = http://github.com/tpope/vim-fugitive.git
[submodule "bundle/vim-rails"]
  path = bundle/vim-rails
  url = http://github.com/tpope/vim-rails.git
[submodule "bundle/vim-cucumber"]
  path = bundle/vim-cucumber
  url = http://github.com/tpope/vim-cucumber.git
[submodule "bundle/vim-surround"]
  path = bundle/vim-surround
  url = http://github.com/tpope/vim-surround.git
